 <html><head><title>My shop - {% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>
    <body>
    <img src="{{ url_for('static', filename='img/logo.jpg')}}">
    <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('contacts') }}">Contacts</a>
        <a href="https:facebook.com/mypage">Follow us on FB</a>
    </nav>
    {% block content %} {% endblock %}
    </body>
    </html>
